<!DOCTYPE html>
<html lang="en">
<%-include('layouts/header');-%>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
        <%-include('layouts/navbar');-%>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-3">
                            <div class="d-flex align-items-center mt-lg-5 mb-4">
                                <img class="img-fluid rounded-circle" src="./assets/paradox-2955482_640.png" alt="..." />
                                <div class="ms-3">
                                    <div class="fw-bold">Chief Answer Officer</div>
                                    <div class="text-muted">Crunch Wisely</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <!-- Post content-->
                            <article>
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-1"><%=blogpost.Questions_formed %></h1>
                                    <!-- Post meta content-->
                                    <div class="text-muted fst-italic mb-2">June 09, 2022</div>
                                </header>
                                <!-- Post content-->
                                <section class="container px-4 px-lg-5">
                                    <p class="fs-5 mb-4"><%=blogpost.Answers %></p>
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%-include('layouts/footer');-%>
        <%-include('layouts/scripts');-%>
    </body>
</html>
