<!DOCTYPE html>
<html lang="en">
<%-include('layouts/header');-%>    
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
        <%-include('layouts/navbar');-%>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">Wisdom Crunch</h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                        <div class="h2 fw-bolder">Wisdom comes in pack of 6</div>
                                        <p>Work that is repeats everyday, can be taken as a challenge to master or shunned as boring activity that puts food on our plate.
                                            Wisdom cruch has a single vision. To make the "WORK" that is physically exhausting and handicaps creativity, extinct. Humans will 
                                            delegate only when they have higher calling, more interesting and rewarding work. Wisdom Cruch is about freeing you, and making 
                                            you nimble and agile. 
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('./assets/japanese-1206509_640.jpg')"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5">
                    <h2 class="fw-bolder fs-5 mb-4">Featured Wisdom</h2>
                    <div class="row gx-5">
                        <% for (var i = 0; i < 10; i++) { %>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <div class="card-body p-4">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Crunches</div>
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3"><%= blogposts[i].Questions_formed %></div></a>
                                    <p class="card-text mb-0"><%= blogposts[i].Answers_formed %></p>
                                    <a class="stretched-link text-decoration-none" href="/blog-post/<%=blogposts[i]._id%>">
                                        Read more
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                            <div class="small">
                                                <div class="text-muted">June 09, 2022</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div class="text-end mb-5 mb-xl-0">
                        <a class="text-decoration-none" href="#!">
                            More stories
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </section>
        </main>
        <%-include('layouts/footer');-%>
        <%-include('layouts/scripts');-%>
    </body>
</html>
